body {
    line-height: 2;
    font-size: 18px;
    font-family: Verdana, sans-serif;
    background-color: #414142;
}
h1 {text-align:center;
color:brown; 
font-size: 40px;}

.mems{
    max-width: 25%;
    margin: 20px auto;
}

.mem {
    margin-bottom: 2px;
    border: 1.5px solid black;
    background-color:gray;
}

.mem-label, .picture{
    padding: 15px 15px;
    text-align:center;
    color: white;
    cursor: pointer;
    display: block;
    }

.mem-label:hover {
    background-color: black;
    transition: height 0.5s ease-in-out;
    transition: height 0.01s ease-in-out ;
   }

.mem-inp {
    width: 0;
    height: 0;
    appearance: none;
    display: none;
}

.mem-inp:checked ~.picture {
    display: block;
}

img {
    width: 100%;
}

.picture {
    display: none;
    padding: 10px 15px;
    max-width: 100%;
    margin: 20px auto;
}

.mem-inp:hover~ .mem-label {
    background-color:black;
  }

.mem-inp:hover ~ .picture {
    display: block;
}
.mem-inp:hover ~ .mem-label .close {
    display: block;
    width: 2rem;
    height: 2rem;
    background-size: cover;
    float: right;
    transform: rotate(45deg);
}


.close{
    display: none;
}
.mem-inp:checked ~.mem-label[name=mem-inp]{
    display: block;
    width: 2rem;
    height: 2rem;
    background-size: cover;
    float: right;
    
}
.mem-inp:checked ~.mem-label{
    background-color:black;
    
}
.mem-inp:checked ~.mem-label .close {
    display: block;
    width: 2rem;
    height: 2rem;
    background-size: cover;
    float: right;
    
}

/* 
не рабочий вариант
.close:active >.mem-label~.mem-inp{
 
    display: none;

}

@media screen and (max-width:468px) {
      h1{font-size: 20;}
 }